html, body
{
    padding: 0;
    margin: 0;
}

.image
{
    margin: 0px;
    background-image: url("https://media.giphy.com/media/ewikaQxar2rNm/giphy.gif") !important;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -5;
}

.backgroundimage
{
    margin: 0px;
    opacity: 0.5;
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
}

.profile-image
{
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px
    
}

.main
{
    padding:0;
    margin: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-shadow: 2px 2px black;
    font-size: 14px;
    text-align: center;
}

.description
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-shadow: 2px 2px black;
    font-size: 14px;
}

.media
{
    position: absolute;
    top: 68%;
    left:49%;
    transform: translate(-50%, -50%);
}

li 
{
    list-style: none;
    margin: 8px 8px;
    display: inline-block;
    padding: 20px;
    color: #fff;
    transition: .5s;
}

/* Bob */
@-webkit-keyframes li {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes li {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
li:hover, li:focus, li:active {
  -webkit-animation-name: hvr-bob-float, li;
  animation-name: hvr-bob-float, li;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
